@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #3f3f46;
  --muted-foreground: #737373;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: #a1a1aa;
    --muted-foreground: #a3a3a3;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
